@import 'https://fonts.googleapis.com/css?family=Anton';

body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    background-color: #303030;
    line-height: 1.8;
}

.codegena{
  position:relative;
  width:100%;
  padding-bottom:56.27198%;
}

.codegena iframe{
  position:absolute;
  top:7.5%;
  left:10%;
  width:80%;
  height:80%;
}

button{
  position:relative;
  left: 44%;
}
